<p>Error registrando usuario.</p>

<p>Error {{ e.code }}</p>
<p>Mensaje de error: {{ e.message }}</p>
<p>Archivo: {{ e.file }}</p>
<p>Línea: {{ e.line }}</p>
<p>Trazado: {{ e.traceAsString }}</p>
<p>Petición: {{ dump(request) }}</p>
