<p>Error registrando usuario.</p>

<p>Error {{ e.code }}</p>
<p>Mensaje de error: {{ e.message }}</p>
<p>Archivo: {{ e.file }}</p>
<p>Línea: {{ e.line }}</p>
<p>Trazado: {{ e.traceAsString }}</p>
<p>Petición:</p>
{% for key, data in request %}
    {% if data is iterable %}
        {% for key2, singleData in data %}
            {{ key2 }}: {{ singleData }}
        {% endfor %}
    {% else %}
        {{ key }}: {{ data }}
    {% endif %}
{% endfor %}